.table th, .table td{
    border: 1px solid black;
}
caption{
    text-align: center;
    font-weight: bold;
}
.table{
    border-collapse: collapse;
    border: 3px solid black;
}
.day{
    width: 5px;
}
.pair{
width: 30px;
}
.week{
    width: 40px;
}
td.sub{
    border-bottom: hidden;
}
td.au{
    border-bottom: hidden;
}
td.rl{
    border-right: dashed 2px;
    text-align: center;
}
.column{
    background-color: #D9E1F2;
    border: 3px solid;
}
th.green{
    background-color: #E2EFDA;
}