.wrapper {
    display: flex;
    width: 600px;
    height: 200px;
    perspective: 500px;
    justify-content: center;
    align-items: center;
}

.wrapper::before {
    content: "Hello";
    font-size: 200%;
}

.door1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #96303e;
    border: 4px solid #c40e26;
    box-sizing: border-box;
    transform-origin: left center;
    transition: all 0.5s ease;
}

.door2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #96303e;
    border: 4px solid #c40e26;
    box-sizing: border-box;
    transform-origin: right center;
    transition: all 0.5s ease;
}

.wrapper:hover .door1 {
    transform: rotateY(80deg);
}

.wrapper:hover .door2 {
    transform: rotateY(-80deg);
}
